.list {
    margin-top: 11px;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
}

.item:hover {
    background: #9288FF;
    box-shadow: 1px 4px 8px #544CA8;
    border-radius: 5px;
    color: #ffffff;
}

.item:hover > .removeImg {
    display: block;
}

.item:hover > .text {
    color: #ffffff;
}

.emptyCircle {
    width: 30px;
    height: 15px;
    margin: 5px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #CBCBCB;
}

.text {
    font-style: normal;
    width: 244px;
    margin-left: 4px;
    margin-right: 60px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #5C5959;
}

.removeImg {
    display: none;
}

.container {
    cursor: pointer;
    margin-top: 18px;
    margin-left: 159px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imgAdd {
    width: 48px;
    height: 48px;
    background: rgba(146, 136, 255, 0.22);
    box-shadow: 1px 3px 4px #6F68B6;
    border-radius: 50%;
}

.addText {
    font-family: 'Roboto';
    width: 21px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #302795;
    margin: 3px 14px;
}


